---
import Layout from "../../components/Layout.astro";
import LemmaLink from "../../components/LemmaLink";
import data from "../../../public/data.json";
import CitationDisplay from "../../components/CitationDisplay.astro";

export async function getStaticPaths() {
  const predicate = l => l.lemma_id % 100 == 0;
  // const predicate = l => true;
  return data.lemmata.filter(predicate).map((lemma) => ({
    params: { id: lemma.lemma_id.toString() },
  }));
}

const id = Number(Astro.params.id);
const lemma = data.lemmata.find(l => l.lemma_id === id);
const meanings = data.meanings.filter(m => m.lemma_id === id);
const meaningsWithQuotes = meanings.map(m => ({
  ...m,
  quotations: data.quotations.filter(q => q.meaning_id === m.meaning_id),
  categories: data.meaningCategories
      .filter(c => c.meaning_id === m.meaning_id)
      .map(c => c.category)
}));
const variants = data.variants.filter(v => v.lemma_id === id);
const quotations = data.quotations.filter(q => q.lemma_id === id);
const external = data.externalLinks.filter(e => e.lemma_id === id);
const lemmaEditors = data.users.filter(u => lemma.editor.split(", ").includes(u.username));
const crossLinks = data.crossLinks
  .filter(c => c.lemma_id === lemma.lemma_id || c.link === lemma.lemma_id)
  .map(c => {
    const otherId = c.lemma_id === lemma.lemma_id ? c.link : c.lemma_id;
    const target = data.lemmata.find(l => l.lemma_id === otherId);
    return { ...c, target };
  });

const publicURL = `${Astro.site}${Astro.url.pathname.slice(1)}`;

const jsonLD = {
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "@id": publicURL,
  url: publicURL,
  identifier: lemma.lemma_id.toString(),
  name: lemma.original,
  alternateName: lemma.transliteration,
  isPartOf: {
    "@type": "Dataset",
    identifier: "https://doi.org/10.5281/zenodo.17800131",
    url: Astro.site
  },
  creator: lemmaEditors.map(u => ({
    "@type": "Person",
    name: `${u.first_name} ${u.last_name}`,
    url: `${Astro.site}people/${u.id}`
  })),
  description: lemma.primary_meaning,
  inLanguage: lemma.language_label,
  relatedLink: crossLinks.map(c => ({
    "@id": `${Astro.site}lemma/${c.target.lemma_id}`,
  })),
  license: "https://creativecommons.org/licenses/by/4.0/",
  dateModified: lemma.last_edit,
};
---

<Layout title={(lemma.original || lemma.transliteration) + " (#" + lemma.lemma_id + ")"} jsonLD={jsonLD}>
  <div class="grid">
  <div>
        <h1>{lemma.original}
          {(lemma.original && lemma.transliteration) ? <br/> : null}
          {lemma.transliteration && (<span class="transliteration">{lemma.transliteration}</span>)}
        </h1>
        <p>{lemma.language_label} {lemma.partofspeech_value} {lemma.loan_language_value && lemma.loan_language_value !== "none" && <>
            <br/>
           {lemma.loan_type === "none" || lemma.loan_type === "loan" ? "loaned" : lemma.loan_type === "quote" ? "quoted" : lemma.loan_type === "calque" ? "calqued" : null} from {lemma.loan_language_label}
          </>
        }</p>
        {lemma.last_edit && (
        <small class="last-edited">
        Last edited: {new Date(lemma.last_edit).toLocaleString()}
        </small>
        )}
      </div>

      <div>
        <table>
            <tbody>
             {lemma.primary_meaning && <tr>
              <th scope="row">Primary meaning</th>
              <td>{lemma.primary_meaning}</td>
              </tr>}
             {lemma.translation && <tr>
              <th scope="row">Literal translation</th>
              <td>{lemma.translation}</td>
              </tr>}
             {variants.length > 0 && <tr>
              <th scope="row">Variants</th>
              <td>
                  {variants.map(v => <div>{v.original} {v.transliteration && <span class="transliteration">{v.transliteration}</span>} {v.comment && <span class="comment">{v.comment}</span>}</div>)}
              </td>
             </tr>}
              {lemma.editor && (
              <tr>
                <th scope="row">Edited by</th>
                <td>
                  {lemmaEditors.map((u, index) => (
                  <div><a href={`/people/${u.id}`} key={u.id}>
                      {u.first_name} {u.last_name}
                    </a></div>
                     ))}
                </td>
              </tr>
                    )
                  }
            </tbody>
        </table>
      </div>
    </div>
    </div>

    <hr/>

        <div class="grid">
    <section class="meanings">
      {meaningsWithQuotes.map((m) => (
      <details open id={`meaning-${m.meaning_id}`} class="meaning">
        <summary>
        {m.value}
        {m.categories.length > 0 && (
        <span class="categories">{m.categories.join(", ")}</span>
        )}
        </summary>


          <div>
            {m.comment && <p class="comment">{m.comment}</p>}
          {m.quotations.map(q => (
            <blockquote>
              <div class="quotation-text">
              {q.original && <p>{q.original}</p>}
              {q.transliteration && <p class="transliteration">{q.transliteration}</p>}
              </div>
              {q.translation && <p class="quotation-translation">‘{q.translation}’</p>}
            <footer>
              <cite>
              <div>
                  — {q.source} {q.line}
              </div>
              <p>
              {q.genre && <div><strong>Genre:</strong> {q.genre}</div>}
              {q.provenance && <div><strong>Provenance:</strong> {q.provenance}</div>}
              {q.date && <div><strong>Date:</strong> {q.date}</div>}
              </p>
              <p><small>
              {q.publication}
              {q.page}
              </small></p>
              {q.comment && <p>{q.comment}</p>}
              </cite>
            </footer>
            </blockquote>
          ))}
      </details>
        <hr/>
      ))}
    </section>

    <div>
    {crossLinks.length > 0 &&
    <article>
      <header>See also</header>
      {crossLinks.map(c => (
      <p>
        <LemmaLink lemma={c.target} />
      </p>
      ))}
    </article>
    }

    {external.length > 0 &&
    <article>
      <header>External links</header>
      <ul>
        {external.map(e => <li><a href={e.url}>{e.display}</a></li>)}
      </ul>
    </article>
    }

    <article>
      <header>Cite this entry</header>
      <CitationDisplay entry={{
       id: "zodiac"+lemma.lemma_id,
       type: "webpage",
       author: lemmaEditors.map(u => ({given: u.first_name, family: u.last_name})),
       title: (lemma.original || lemma.transliteration) + " (Lemma #" + lemma.lemma_id + ")",
       "container-title": "The ZODIAC Glossary: A Cross-Cultural Glossary of Ancient Astral Science",
       issued: lemma.last_edit ? {"date-parts": [new Date(lemma.last_edit).getFullYear()]} : null,
       URL: publicURL,
       accessed: {"date-parts": [new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDay()]}
       }} />
    </article>
    </div>
</Layout>
