---
import Layout from "../../components/Layout.astro";
import LemmaLink from "../../components/LemmaLink";
import data from "../../../public/data.json";
import CitationDisplay from "../../components/CitationDisplay.astro";

export async function getStaticPaths() {
  // data.lemmata is assumed to be an array of lemma objects
  return data.lemmata.map((lemma) => ({
    params: { id: lemma.lemma_id.toString() },
  }));
}

const id = Number(Astro.params.id);
const lemma = data.lemmata.find(l => l.lemma_id === id);
const meanings = data.meanings.filter(m => m.lemma_id === id);
const meaningsWithQuotes = meanings.map(m => ({
  ...m,
  quotations: data.quotations.filter(q => q.meaning_id === m.meaning_id),
  categories: data.meaningCategories
      .filter(c => c.meaning_id === m.meaning_id)
      .map(c => c.category)
}));
const variants = data.variants.filter(v => v.lemma_id === id);
const quotations = data.quotations.filter(q => q.lemma_id === id);
const external = data.externalLinks.filter(e => e.lemma_id === id);
const lemmaEditors = data.users.filter(u => lemma.editor.split(", ").includes(u.username));
const crossLinks = data.crossLinks
  .filter(c => c.lemma_id === lemma.lemma_id || c.link === lemma.lemma_id)
  .map(c => {
    const otherId = c.lemma_id === lemma.lemma_id ? c.link : c.lemma_id;
    const target = data.lemmata.find(l => l.lemma_id === otherId);
    return { ...c, target };
  });
---

<Layout title={(lemma.original || lemma.transliteration) + " (#" + lemma.lemma_id + ")"}>
    <div class="lemma-header-container">
      <header class="lemma-header">
        <h1>{lemma.original}
          {(lemma.original && lemma.transliteration) ? <br/> : null}
          {lemma.transliteration && (<span class="transliteration">{lemma.transliteration}</span>)}
        </h1>
        <p>{lemma.language_label} {lemma.partofspeech_value}</p>
        {lemma.loan_language_value && lemma.loan_language_value !== "none" && <p>{lemma.loan_type === "none" || lemma.loan_type === "loan" ? "loaned" : lemma.loan_type === "quote" ? "quoted" : lemma.loan_type === "calque" ? "calqued" : null} from {lemma.loan_language_value}</p>}
        {lemma.last_edit && (
        <p class="last-edit">
        Last edited: {new Date(lemma.last_edit).toLocaleString()}
        </p>
        )}
      </header>

      <aside class="variants">
        {lemma.primary_meaning &&
        (<h2>Primary meaning</h2>
        <span class="primary-meaning">{lemma.primary_meaning}</span>)
        }
        {lemma.translation &&
        (<h2>Literal translation</h2>
        <span class="translation">{lemma.translation}</span>
        )}
        {variants.length > 0 &&
        (<h2>Variants</h2>
        <ul>
          {variants.map(v => <li>{v.original} {v.transliteration && <span class="transliteration">{v.transliteration}</span>} {v.comment && <span class="comment">{v.comment}</span>}</li>)}
        </ul>)}
      </aside>
    </div>

    <section class="meanings">
      {meaningsWithQuotes.map(m => (
      <article class="meaning">
        <div class="meaning-string">{m.value}
          <span class="comment">{m.comment}</span>

        {m.categories.length > 0 && (
        <span class="categories">{m.categories.join(", ")}</span>
        )}</div>

        <ul class="quotations">
          {m.quotations.map(q => (
          <li class="quotation">
            <blockquote>
              <div class="quotation-original">
              {q.original && <p>{q.original}</p>}
              {q.transliteration && <p class="transliteration">{q.transliteration}</p>}
              </div>
              {q.translation && <p class="quotation-translation">‘{q.translation}’</p>}
            </blockquote>
            <div class="quote-meta">
              {q.source && <div><strong>Source:</strong> {q.source}</div>}
              {q.line && <div><strong>Line:</strong> {q.line}</div>}
              {q.genre && <div><strong>Genre:</strong> {q.genre}</div>}
              {q.provenance && <div><strong>Provenance:</strong> {q.provenance}</div>}
              {q.date && <div><strong>Date:</strong> {q.date}</div>}
              {q.publication && <div><strong>Publication:</strong> {q.publication}</div>}
              {q.page && <div><strong>Page:</strong> {q.page}</div>}
              {q.comment && <div><strong>Comment:</strong> {q.comment}</div>}
            </div>
          </li>
          ))}
        </ul>
      </article>
      ))}
    </section>

    {crossLinks.length > 0 &&
    <section class="cross-links">
      <h2>See also</h2>
      <ul>
        {crossLinks.map(c => (
        <li>
          <LemmaLink lemma={c.target} />
        </li>
        ))}
      </ul>
    </section>
    }

    {external.length > 0 &&
    <section class="external-links">
      <h2>External links</h2>
      <ul>
        {external.map(e => <li><a href={e.url}>{e.display}</a></li>)}
      </ul>
    </section>
    }

    <section class="citation-display">
      <h2>Cite this entry</h2>
      <CitationDisplay entry={{
       id: "zodiac"+lemma.lemma_id,
       type: "webpage",
       author: lemmaEditors.map(u => ({given: u.first_name, family: u.last_name})),
       title: (lemma.original || lemma.transliteration) + " (Lemma #" + lemma.lemma_id + ")",
       "container-title": "The ZODIAC Glossary: A Cross-Cultural Glossary of Ancient Astral Science",
       issued: lemma.last_edit ? {"date-parts": [new Date(lemma.last_edit).getFullYear()]} : null,
       URL: `${Astro.site}${Astro.url.pathname}`,
       accessed: {"date-parts": [new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDay()]}
       }} />
    </section>
</Layout>
